WhatsApp_Growth_Agent_V1.json
{
  "name": "WhatsApp Growth Agent V1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-1",
      "name": "WhatsApp Webhook",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "b0958c49-de59-4cc4-b888-506185d06193"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [],
          "string": [
            {
              "value1": "={{ $json.query['hub.mode'] }}",
              "value2": "subscribe"
            }
          ]
        }
      },
      "id": "node-2",
      "name": "Is Verification?",
      "position": [
        208,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('WhatsApp Webhook').first().json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "node-3",
      "name": "Respond Challenge",
      "position": [
        400,
        -96
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst entry = body?.entry?.[0];\nconst change = entry?.changes?.[0]?.value;\nconst message = change?.messages?.[0];\nif (!message) return [];\nreturn [{\n  json: {\n    phone: message?.from || '',\n    name: change?.contacts?.[0]?.profile?.name || 'Unknown',\n    text: message?.text?.body || '',\n    message_type: message?.type || 'text'\n  }\n}];"
      },
      "id": "node-4",
      "name": "Parse Payload",
      "position": [
        400,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.choices[0].message.content;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch(e) {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch(e2) {\n      parsed = { reply: text, score: \"unknown\", action: \"reply_only\" };\n    }\n  } else {\n    parsed = { reply: text, score: \"unknown\", action: \"reply_only\" };\n  }\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "node-9",
      "name": "Parse Response",
      "position": [
        1408,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/YOUR_PHONE_NUMBER_ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WHATSAPP_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"={{ $('Parse Payload').first().json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"={{ $('Parse Response').first().json.reply }}\"\n  }\n}",
        "options": {}
      },
      "id": "1bf128eb-64f8-40e3-bf26-839bbf9d2150",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1808,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/conversations?lead_phone=eq.={{ $('Parse Payload').first().json.phone }}&order=created_at.asc&limit=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "1978a6ab-0af0-4a11-b92e-5659d8f2f079",
      "name": "Load History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        112
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"lead_phone\": \"={{ $('Parse Payload').first().json.phone }}\", \"role\": \"user\", \"message\": \"={{ $('Parse Payload').first().json.text }}\"}",
        "options": {}
      },
      "id": "932a5127-277b-46b2-a077-7b448d3bb653",
      "name": "Save User Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a WhatsApp lead qualifier for an Indian D2C brand. Ask these 4 questions ONE AT A TIME conversationally: 1) Budget? 2) Timeline? 3) What do they need? 4) Are they the decision maker? After all 4 answers, score: hot (budget 20k+, timeline under 1 month, clear need, decision maker), warm (partial match), cold (rest). Reply in same language as user \u2014 Hindi/English/Hinglish. ALWAYS return valid JSON only, no extra text: {\\\"reply\\\": \\\"message\\\", \\\"score\\\": \\\"unknown|hot|warm|cold\\\", \\\"action\\\": \\\"reply_only|book_call|nurture\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $('Parse Payload').first().json.text }}\"\n    }\n  ],\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "131eee01-f975-47d4-98d6-0cb78cf3aa3b",
      "name": "Claude Qualifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"lead_phone\": \"={{ $('Parse Payload').first().json.phone }}\", \"role\": \"assistant\", \"message\": \"={{ $('Parse Response').first().json.reply }}\"}",
        "options": {}
      },
      "id": "9b15778f-1384-4547-9dc3-a6e897e0b663",
      "name": "Save Assistant Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_PROJECT.supabase.co/rest/v1/rpc/upsert_lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "p_name",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1da5256-42bc-469b-8a9e-9ee2a7ded755",
      "name": "Upsert Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        112
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Is Verification?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond Challenge",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Parse Payload",
            "type": "main"
          }
        ]
      ]
    },
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Is Verification?",
            "type": "main"
          }
        ]
      ]
    },
    "Load History": {
      "main": [
        [
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "Claude Qualifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Qualifier": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Save Assistant Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Assistant Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Upsert Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead": {
      "main": [
        [
          {
            "node": "Load History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}